body {
  background-color: #333;
  color: #fff;
}

span {
  color: yellow;
  font-size: 50px;
  border-bottom: 10px solid white;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  /* display: grid;
  justify-content: center;
  grid-template-columns: 20% 20%;
  text-align: center; */
}
p {
  grid-column-start: 10;
  
}